.env
__pycache__
venv
*.pkl
*.csv
.pytest_cache
test
.DS_Store
.ipynb_checkpoints/
data/travel-service-dev/code_files.txt
data/travel-service-dev/package_notes.txt
docs/dspy/openai_usage.log
docs/dspy/assertion.log
docs/dspy/azure_openai_usage.log
data/travel-service-dev/package_notes.txt
data/travel-service-dev/code_files.txt
response.txt
